@import './modules/base.css';
@import './modules/layout.css';
@import './modules/components.css';
@import './modules/animations.css';

/* 페이지별 스타일은 필요시 추후 추가 */
/* @import './modules/pages.css'; */
/* @import './modules/responsive.css'; */
/* @import './modules/tables.css'; */
@import './modules/modals.css';
/* @import './modules/utilities.css'; */